<div class="modal" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-dialog-centered" role="document">

      <div class="modal-content p-1 p-sm-1 p-md-1 p-lg-5 p-xl-5">

        <div class="modal-header">

          <h3>{{ title }}</h3>

          <h5>{{ subtitle }}</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>

        <div class="modal-body">

            <div class="container-fluid">

                <div class='row'>
                    
                    <div class="col-12 col-sm col-md col-lg"  [innerHtml]="bodyText | safeHtml"></div>
         
                    <div class="col-12 col-sm col-md col-lg">
                        <img class='' [src]="photo" />
                    </div> 

                </div>
            </div>
        </div>

      </div>
    </div>
  </div>